#grid {
  /* width: 98%; */
  margin: auto;
  font-family: "Cardo";
  /* max-height: 65%;  */
  /* overflow-y: auto;
    overflow-x: auto;   */
  /* Enable horizontal scrolling on small screens */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

/* Custom classes for row styling */
td.gridjs-td {
  border: 1px solid #7a2a2a1f !important;
  box-sizing: content-box;
  padding: 3px 7px !important;
  background: #e5d8c4 !important;
  text-align: left;
  font-size: small;
  font-weight: 500;
}

th.gridjs-th {
  background-color: #7a2a2a !important;
  padding: 1% !important;
  border: 1px solid #7a2a2a !important;
}

th.gridjs-th .gridjs-th-content {
  color: #e5d8c4 !important;
}

button.gridjs-sort {
  color: #e5d8c4 !important;
}

.gridjs-pagination .gridjs-summary {
  color: #e5d8c4 !important;
}

.gridjs-footer {
  position: sticky;
  /* Keep it fixed */
  bottom: 0;
  /* Stick to the bottom */
  z-index: 2;
  /* Stay above other elements */
  background-color: #7a2a2a !important;
  /* Ensure visibility */
}

.table.gridjs-table {
  width: auto;
}

.gridjs-td {
  color: #7a2a2a;
}

/* Optional: style the scrollbars */
#grid::-webkit-scrollbar {
  width: 8px;
}

#grid::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

#grid::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

/* Display a resize cursor on column edges */
.gridjs-th,
.gridjs-td {
  cursor: col-resize;
}

.discource_title {
  display: flex;
  justify-content: flex-start;
  color: #7a2a2a;
  position: relative;
  width: 100%;
}

.ellipsis {
  white-space: nowrap;
  /* Prevent text from wrapping to the next line */
  overflow: hidden;
  /* Hide the overflowing text */
  text-overflow: ellipsis;
  /* Show the ellipsis ("...") for overflow */
  width: 100%;
  /* Set the width to fit within the container */
  display: inline-block;
  /* Ensure proper behavior for inline elements */
}

.discource_title h5:hover {
  cursor: pointer;
  /* Indicate interactivity when hovered */
}
/* floating icon starts here */
.floating-cicon {
  position: fixed;
  bottom: 20px;
  left: 20px; /* Changed from right to left */
  width: 50px;
  height: 50px;
  /* background-color: #007bff; */
  /* color: white; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
  box-shadow: 1px 1px 6px 3px #c0a682;
}

.floating-cicon:hover {
  font-size: 40px;
}

/* floating icon ends here*/
