/* Common style */
*{
    font-family: cardo;
}
i{
  color: #7a2a2a;
}
.cardo-regular {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cardo-bold {
    font-family: "Cardo", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cardo-regular-italic {
    font-family: "Cardo", serif;
    font-weight: 400;
    font-style: italic;
  }
  
/* Common style */
 /* Body */
body{
    margin: 0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./Assets/harvestwheats.png') no-repeat center center/cover;
    opacity: 0.3; /* Adjust opacity here */
    z-index: -1; /* Place behind the content */
  }

/* Body ends */
/* Navigation starts */
.biblestudentslogo{
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  height: 65px;
  width: 65px;
  border-radius: 7px; /*logo curve radius*/
}
.nav-link{
    font-weight: 500;
    /* letter-spacing: 3px; */
    padding-right: 10px;
 }
 .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color:#7a2a2a !important;
 }
 .navbar-light .navbar-nav .nav-link{
  color:#7a2a2a !important;
  /* letter-spacing: 1px; */
 }
.nav-item{
    padding-left: 25px;
    
}
 .nav-link:hover {
    color: #7a2a2a; /* Change to your desired color */
    font-weight: bold;
}
.navbar-nav .dropdown-menu{
    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index:2000;
  }
 /* Dropdown Menu Styles */
.dropdown:hover .dropdown-menu {
    display: block; /* Show the dropdown on hover */
    
}
/* Dropdown Item Styles */
.dropdown-menu {
    background: #e5d8c4; /* Brown background for dropdown */
    border: none; /* Remove border */
}
.dropdown-menu.show {
    max-height: 500px; /* Adjust based on your submenu height */
    opacity: 1;
  }
.dropdown-item {
    color: #7A2A2A; /* Beige text color */
    font-size:x-small !important;
    font-weight: 600 !important;
    border:0px;
    border-bottom: 1px solid #7a2a2a2e;
    padding: .4rem 1.5rem;
}

.dropdown-item:hover {
    background-color:#7A2A2A !important;
    /* margin: 5%; */
    /* width: 90%; */
    color: #ebd3b0;; /* White text on hover */
    font-weight: bold !important;
}

/* Submenu Styles */
.submenu-container .submenu {
    position: absolute; /* Position the submenu */
    left: 100%; /* Position to the right of the parent */
    top: 0; /* Align with the parent */
    display: none; /* Hide by default */
    z-index: 1000; /* Ensure it's on top */
    background-color: #e5d8c4;
}
/* Show submenu on hover */

/* Show submenu on hover */
.dropdown-item:hover .submenu {
    display: block;
}
/* Navigation ends */

/* Search keyword starts here */
.search-bar {
    position: relative; /* Position relative to contain the icon */
}
.search-bar input {
    padding-left: 10px; /* Add padding to avoid overlapping with the icon */
    background-color: #e7dbca;
    color:#721c24 ;
}
.search-bar .fa-search {
      position: absolute; /* Position icon absolutely within the search bar */
      right: 10px; /* Distance from the left */
      top: 50%; /* Center the icon vertically */
      transform: translateY(-50%); /* Adjust for the exact center */
      color: #7f2a2a;
}
.search-box{
    border: 0px solid #721c24 !important;
    box-shadow: #721c2436 0px 2px 5px -1px, #721c2494 0px 1px 3px -1px;
  }
.search-box::placeholder {
    color: #721c24; /* Replace with your desired color */
    opacity: 1;  /* Optional, to keep the color consistent across browsers */
  }
/* Search keyword ends here */
/* Boby content starts here */
.content-area {
    position: relative;
    min-height: 400px;
}
/* Boby content ends here */
/* Bible verse starts here */
.medievalsharp-regular {
    font-style: normal;
    font-size: medium !important;
    background-color: #7a2a2a;
    padding: 15px;
}
.txt-animate {
    opacity: 0; /* Start with the paragraph invisible */
    transform: translateY(20px); /* Start slightly below */
    animation: fadeIn 3s forwards; /* Animation to apply */
    font-size: 20px; /* Font size for the paragraph */
    color: #e5d8c4 !important; /* Text color */
}
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #74603f;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #74603f;
    font-size: larger;
    background-color: #fcfcfa;
  }
}
.welcome-txt{
  color:#74603f;
}
.glory-God{
  
  color: #530909 !important;
  font-style: italic;
  /* font-weight: 600; */
}
/* Keyframes for the fade-in effect */
@keyframes fadeIn {
    to {
        opacity: 1; /* End with the paragraph visible */
        transform: translateY(0); /* Move to its original position */
    }
}
@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0); /* Move to original position */
    }
}
@keyframes zoomIn {
    to {
        transform: scale(1); /* Grow to original size */
    }
}
.shadow-style{
    box-shadow: rgba(0, 0, 0, 0.12) 0px 5px 3px, rgba(0, 0, 0, 0.24) 13px 11px 12px;
  }
/* Bible verse ends here */
/* author note starts here */
.biblestudent_note{
  font-family: 'Cardo' !important;
    /* font-style: italic; */
    font-family: none;
    font-size: 16px;
    color:#530909 !important;
}
/* author note ends here */
/* Brother russell quotes starts here */
.quote-box {
    width: 90%;
    position: relative;
    z-index: 1001;
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    color: #555;
    background-color: #e5d8c4;
    padding: 20px;
    margin: 20px;
    position: relative;
    border-radius: 15px;
    box-shadow: #721c2436 0px 2px 5px -1px, #721c2494 0px 1px 3px -1px;
  }
  .quote-text {
    font-family: serif;
    quotes: "“" "”" "‘" "’";
    font-size: 18px;
    color: #7a2a2a !important;
  }
  .quote-text::before {
    content: open-quote;
  }
  .quote-text::after {
    content: close-quote;
  }
  .author {
    text-align: right;
    font-style: italic;
    margin-top: 10px;
    color: #7a2a2a !important;
      font-size: 18px;
  }
/* Brother russell quotes ends here */
/*  */
/* Bottom right image */
.home-bottom-right-image {
    position: fixed;
    bottom: 6%;
    right: 1%;
    z-index: 3000;
    height: 300px;
}
/* Bottom right image */
/* Language toggle button starts here */
.lang{
    position: fixed;
    bottom: 2%;
    right: -8%;
    z-index: 1500;
  }
  .switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: #daa52000;
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  /* input (radio) for toggling. hidden - use labels for clicking on */
  .switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
  }
  /* labels for the input (radio) boxes - something to click on */
  .switches-container label {
    font-size: x-small;
    font-weight: bold;
    width: 20%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: #7a2a2a;
  }
  /* switch highlighters wrapper (sliding left / right) 
    - need wrapper to enable the even margins around the highlight box
  */
  .switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 20%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
  }
  /* switch box highlighter */
  .switch {
    border-radius: 3rem;
    background: #7a2a2a;
    height: 100%;
  }
  /* switch box labels
    - default setup
    - toggle afterwards based on radio:checked status 
  */
  .switch div {
    font-size: x-small;
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: #e5d8c4;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* slide the switch box from right to left */
  .switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
  }
  /* slide the switch box from left to right */
  .switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
  }
  /* toggle the switch box labels - first checkbox:checked - show first switch div */
  .switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
  }
  /* toggle the switch box labels - second checkbox:checked - show second switch div */
  .switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
  }  
/* Language toggle button ends here */
/* project title starts here */
.projtitle{
    max-width: 60%;
    cursor: pointer !important;
}
/* project title ends here */
/* scripture about us image starts here */
.scripture-img{
  height: 280px;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
/* scripture about us image ends here */
/* scripture about us content starts here */
.scripture-content{
  display: flex;
    align-items: center;
    justify-content: space-around;
}
.quote-container {
  padding: 5%;
    background-color: antiquewhite;
    border-radius: 20px;
    color: #7a2a2a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: 'Cardo';
    height: 80vh;
    overflow-y: auto;  /* Enable vertical scroll */
  scrollbar-width: thin;  /* For Firefox: Thin scrollbar */
  scrollbar-color: #985050 #f9f9f9; /* For Firefox: Scrollbar color */
    font-size: 14px;
}

.quote-container p {
  margin: 1em 0;
  font-size: 1.1em;
  line-height: 1.6;
}

.quote-container cite {
  display: block;
  margin-top: 0.5em;
  font-size: 0.9em;
  color: #7a2a2a;
  text-align: right;
  font-weight: bold; /* Makes the cite text bold */
}
.reprint-bottom-right-image{
  position: fixed;
  bottom: 3%;
  right: -2%;
  z-index: 3000;
  height: 220px;
}
/* Style the scrollbars */

  
  /* For Chrome, Safari, and Edge */
  .quote-container::-webkit-scrollbar {
  width: 10px; /* Scrollbar width */
  }
  
  .quote-container::-webkit-scrollbar-track {
  background: #f9f9f9; /* Track background */
  }
  
  .quote-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Round the scroll thumb */
  border: 2px solid #f9f9f9; /* Space around the thumb */
  }
  
  .quote-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar thumb on hover */
  }
  
  /* Optional: To make the scroll visible when hovering over the section */
  .quote-container {
  position: relative;
  transition: all 0.3s ease;
  }
  
  .quote-container:hover::-webkit-scrollbar {
  opacity: 1;
  }
/* scripture about us content ends here */
/* New Icon starts here */
.floating-icon {
  position: fixed;
  top: 2%;
  left: 23%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.floating-icon img {
  /* width: 60%;            
  height: 60%; */
}

.floating-icon:hover {
  cursor: pointer;
}

/* New Icon ends here */


.discoursemobile {
  padding: 5%;
    background-color: #e8e1d7;
    border-radius: 20px;
    color: #7a2a2a;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Cardo';
    height: 80vh;
    overflow-y: auto;  /* Enable vertical scroll */
  scrollbar-width: thin;  /* For Firefox: Thin scrollbar */
  scrollbar-color: #985050 #f9f9f9; /* For Firefox: Scrollbar color */
    font-size: 14px;
}

.audioItem {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #e5d8c4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.audioTitle {
  font-weight: bold;
  margin-right: 10px;
  flex-grow: 1; /* Take up remaining space */
}

.icon {
  font-size: 18px;
  color: #7a2a2a;
  margin-left: 10px;
  cursor: pointer;
}

.icon:hover {
  color: #963535;
}

.audioControl {
  width: 100%;
  border-radius: 5px;
}
.navbar-toggler-icon {
  display: none;
}
.navbar-light .navbar-toggler{
  border:0px solid red;
}
.navbar-toggler{
  font-size: 1rem !important;
}
.scripturetitle{
  text-align: center;
  color: #7A2A2A;
}