/* Mobile starts */
@media (max-width: 480px) {
    .nav-item{
        font-size: small !important;
       }
       .dropdown-item{
        font-size: xx-small !important;
    }
    .quote-box {
      width: 95% !important;
    }
    .home-bottom-right-image,.bottom-left-qimage,.question-book-right-top,.reprint-bottom-right-image{
        width: 200px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        visibility: hidden !important;
    }
    .medievalsharp-regular{
        font-size: 12px !important;
    }
    .quote-text,.author {
        font-size: 12px !important;
    }
    .biblestudent_note{
        font-size: 10px !important;
    }
    .lang{
        right: -30%;
    }
    .biblestudentslogo{
        height: 45px;
  width: 45px;
    }
    /* Basic dropdown styles for desktop */
}
/* Mobile ends */
/* Tab starts */
@media (max-width: 768px) {
    .nav-item{
     font-size: small !important;
    }
    .dropdown-item{
        font-size: xx-small !important;
    }
    .quote-box {
      width: 95% !important;
    }
    .home-bottom-right-image,.bottom-left-qimage,.question-book-right-top,.reprint-bottom-right-image{
        width: 200px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        visibility: hidden !important;
    }
    .medievalsharp-regular{
        font-size: 12px !important;
    }
    .quote-text,.author {
        font-size: 12px !important;
    }
    .biblestudent_note{
        font-size: 10px !important;
    }
    .lang{
        right: -30%;
    }
    .biblestudentslogo{
        height: 45px;
  width: 45px;
    }
    /* Basic dropdown styles for desktop */
    .floating-icon{
        top: 8% !important;
    left: 85% !important;
    }
}
/* Tab ends */
/* Desktop starts */
@media (min-width: 769px) and (max-width: 1024px) {
    .dropdown-item{
        font-size: x-small !important;
    }
    .quote-box {
      width: 90% !important;
    }
    .home-bottom-right-image,.question-book-right-top,.bottom-left-qimage,.reprint-bottom-right-image{
        width: 250px; /* Adjust for tablet-sized screens */
        height: auto;
    }
    .lang{
        right: -8%;
    }
}
/* Desktop ends */

