/* Mobile starts */
@media (max-width: 480px) {
    .projtitle{
        width: 170px;
    }
    .audioscreenbody{
        background-color: #d5cdc6;
    }
    .quote-container{
        font-size: 10px !important;
    }
    .floating-icon img{
        height: 45px !important;
    }
    .nav-item{
        font-size: small !important;
       }
       .dropdown-item{
        font-size: xx-small !important;
    }
    .quote-box {
      width: 95% !important;
    }
    .reprint-bottom-right-image{
        width: 200px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        bottom: 0%;
        right: 0%;
        visibility: visible !important;
    }
    .home-bottom-right-image,.bottom-left-qimage,.question-book-right-top{
        width: 100px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        bottom: 0%;
        right: 0%;
        visibility: visible !important;
    }
    .author {
        text-align: start !important;
      }
    .medievalsharp-regular{
        font-size: 12px !important;
    }
    .quote-text,.author {
        font-size: 12px !important;
    }
    .biblestudent_note{
        font-size: 10px !important;
    }
    .lang{
        right: -30%;
    }
    .biblestudentslogo{
        height: 45px;
  width: 45px;
    }
    /* Basic dropdown styles for desktop */
}
/* Mobile ends */
/* Tab starts */
@media (max-width: 768px) {
    .projtitle{
        width: 170px;
    }
    .audioscreenbody{
        background-color: #d5cdc6;
    }
    .quote-container{
        font-size: 10px !important;
    }
    .author {
        text-align: start !important;
      }
    .floating-icon img{
        height: 45px !important;
    }
    .nav-item{
     font-size: small !important;
    }
    .dropdown-item{
        font-size: xx-small !important;
    }
    .quote-box {
      width: 90% !important;
    }
    .reprint-bottom-right-image{
        width: 200px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        bottom: 0%;
        right: 0%;
        visibility: visible !important;
    }
    .home-bottom-right-image,.bottom-left-qimage,.question-book-right-top{
        width: 100px; /* Adjust width for smaller screens */
        height: auto; /* Maintain aspect ratio */
        visibility: visible !important;
    }
    .medievalsharp-regular{
        font-size: 12px !important;
    }
    .quote-text,.author {
        font-size: 12px !important;
    }
    .biblestudent_note{
        font-size: 10px !important;
    }
    .lang{
        right: -30%;
    }
    .biblestudentslogo{
        height: 45px;
  width: 45px;
    }
    /* Basic dropdown styles for desktop */
    .floating-icon{
        top: 8% !important;
    left: 85% !important;
    }
}
/* Tab ends */
/* Desktop starts */
@media (min-width: 769px) and (max-width: 1024px) {
    .floating-icon img{
        height: 65px !important;
    }
    .dropdown-item{
        font-size: x-small !important;
    }
    .quote-box {
      width: 90% !important;
    }
    .home-bottom-right-image,.question-book-right-top,.bottom-left-qimage,.reprint-bottom-right-image{
        width: 250px; /* Adjust for tablet-sized screens */
        height: auto;
    }
    .lang{
        right: -8%;
    }
}
/* Desktop ends */

